body {
    background-color: #87CEFA;
    font-family: 'Josefin Sans', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}

* {
    box-sizing: border-box;
}
/*
Main Page
*/
.links {
    margin: auto;
    width: 40%;
    height: 80vh;
    padding: 10px;    
    font-size: 4em;
    text-align: center;
    color: white;
    vertical-align: middle;
    box-shadow: 10px 10px 20px #989ba7;
    border-radius: 4rem;

}
.links p {  
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    transition: all .5s;

}

#wrapper {
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#proj1 {
    float: left;
    background-color: red;
}

#about1 {
    float: right;
    background-color: green;
}
#proj1:hover {
    font-size: 5em;
}
#about1:hover {
    font-size: 5em;

}
/*
Project and About Content Pages
*/
#proj2 {
    width: 80%;
    height: 80vh;
    background-color: red;
    border-radius: 4em;
    position: absolute;
    top: 10%;
    /*transform: translateY(-50%);*/
    display: none;
    box-shadow: 10px 10px 20px #989ba7;
    color: white;
    
}
.title {
    text-align: center;
    font-size: 5em;
    display: block;
    padding: 0px;
    position: relative;
    margin: 0;
}
#about2 {
    width: 80%;
    height: 80vh;
    background-color: green;
    border-radius: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    box-shadow: 10px 10px 20px #989ba7;
    color: white;
}
.window {
    display: inline-block;
    overflow: auto;
}
#entrycontainer{
    height: 85%; 
    width: 100%;
    top: 15%;
    position: absolute;
    border: 2px blue;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1%;
}
/*
Project Page Entries
*/
.entry {
    position: relative;
    height: 40%;
    width: 30%;
    text-align: center;
    background-color: orange;
    flex-grow: 1;
    margin: 1%;
    vertical-align: middle;
}
.entry:hover h3{
    font-size: 1.5em;
    
}
.window h3 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-100%);
    font-style: normal;
}
/*
Individual Pages
*/
.page {
    width: 80%;
    height: 80vh;
    top: 10%;
    position: absolute;
    background-color: gray;
    display: none;
    z-index: 1;
}